priority -50

extends texmath, tikz

snippet vec "vector" w
\\overrightarrow{${1}} ${0}
endsnippet

snippet inf "infty" w
\\infty ${0}
endsnippet

snippet ol "overline" w
\\overline{ ${1}} ${0}
endsnippet

snippet ul "underline" w
\\underline{ ${1}} ${0}
endsnippet

snippet ub "underbrace" w
\\underbrace{ ${1}}_{${2}} ${0}
endsnippet

snippet ob "overbrace" w
\\overbrace{ ${1}}^{${2}} ${0}
endsnippet

snippet sq "input \sqrt" w
\\sqrt{${1}}${0}
endsnippet

